<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title='Gameshop4 - Bienvenido')"></head>
<body>
<div class="container">
    <div th:replace="fragments/header.html :: header(option='Nuevo Usuario')"></div>
    <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
            <h2>Nuevo Usuario</h2>
            <hr/>
            <form method="post" th:action="@{'/usuario/save'}" th:object="${user}">
                <div class="mb-3">
                    <label class="form-label">Nombre del usuario</label>
                    <input type="text" class="form-control" th:field="*{nombres}" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Apellidos</label>
                    <input type="text" class="form-control" th:field="*{apellidos}" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Correo</label>
                    <input type="text" class="form-control" th:field="*{correo}" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña </label>
                    <input type="text" class="form-control" th:field="*{password}" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Autorizacion </label>
                    <input type="text" class="form-control" th:field="*{autorizacion}" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Enabled </label>
                    <input type="text" class="form-control" th:field="*{enabled}" />
                </div>
                <a th:href="@{'/juegos/lista'}" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
        <div th:replace="fragments/footer.html :: footer(year='2023')"></div>
    </div>
</div>
<div th:replace="fragments/base.html :: jsScripts"></div>
</body>
</html>